name: Build LaTeX Document

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build_latex:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4

      - name: List files (Debug)
        run: ls -R

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex
          args: -pdf -file-line-error -halt-on-error -interaction=nonstopmode
          post_compile: "latexmk -c"

      - name: Create source tarball
        run: |
          mkdir source_tmp
          rsync -av --exclude='.git' --exclude='.github' --exclude='source_tmp' . source_tmp/
          cd source_tmp
          tar -czvf ../manual_bac_math_source.tar.gz .
          cd ..
          rm -rf source_tmp
      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            main.pdf
            manual_bac_math_source.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
